@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #FCD581 !important;
    --secondary: #804E49 !important;
    --light:  #7E998A !important;
    --dark: #1F2421 !important;
    --white: #ffffff !important;
}

.bg-light {
    background-color: var(--light) !important;
}
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

.btn-light {
    background-color: var(--light) !important;
    border: 0;
}
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--dark) !important;
}

.nav-link {
    color: var(--white) !important;
}

.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-light {
    color: var(--light) !important;
}

.text-muted {
    color: var(--dark) !important;
    opacity: .5;
}

.carousel-caption {
    background-color: rgba(126, 153, 138, 0.7);
    border-radius:10%;
}


body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
}

.card-title {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem !important;
    
  font-style: italic;
}

