@import url(particles2.css);

body {
    background-image: url(img/neale.jpg);
    background-repeat: no-repeat;

    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    height: 100vh;
}


.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.inner {
    position: fixed;
    z-index: 2;
    width: 100%;
    max-width: 90%;
    padding: 1rem;
    border: 4px solid #fff;
    border-radius: 4px;
    background-color: #000;
}

p {
    background-color: #000;
    display: inline;
    color: #fff !important;
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
    line-height: 1rem;
}

span {
    display: none;
    min-width: 1em;
}

.cursor {
    display: inline-block;
    width: 3px;
    height: 1rem;
    background-color: #fff;
    animation: flash 0.8s infinite;
}

@-moz-keyframes flash {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flash {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


@media (min-width: 1024px) {
    .nav-link {
        font-size: 1rem !important;
        padding: 0rem 1rem !important;
    }

    p {
        font-size: 1rem;

        line-height: 1.2rem;
    }

    .inner {
        max-width: 80%;
    }
}


@media (min-width: 1200px) {

    p {
        font-size: 2rem;
        line-height: 3rem;
    }

    .inner {
        max-width: 50%;

        padding: 4rem;
    }
}