#samara {
    border-radius: 50%;
}

.card {
    border: 0;
    border-radius: 50%;
}

.card-body {
    width: 200px;
    margin: 10px auto;
}

.featured .card-body {
    width: 300px;
    margin: 10px auto;
}

.card .btn {
    border-radius: 50%;
}

.card-img-top {
    border-radius: 50% 25%;
}

.side {
    width: 356px;
}

.card-header {
    background-color: transparent !important;
    border-bottom: 0;
}

li .fas {
    color: var(--primary);
}

.page-item.active .page-link {
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
}

.disabled {
    background-color: var(--white) !important;
    color: var(--dark) !important;
}

.page-link {
    border: none;
    border-radius: 50%;
    color: var(--secondary);
    background-color: var(--white);
}

.page-link:hover {
    border: none;
    color: var(--primary);
}