.container {
    min-height: 77vh;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: var(--primary);
    border-color: var(--primary);
    background-color: var(--lighter);
}

.btn.disabled {
    background-color: var(--white) !important;
    color: var(--primary) !important;
    border-color: var(--white) !important;

}

.dropdown-item{
    color: var(--secondary) !important;
}