@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Macondo+Swash+Caps&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #798077 !important;
    --secondary: #3f9b91 !important;
    --light:  #e3cbaf !important;
    --dark: #32525f !important;
    --white: #fff7ed !important;
    --lighter: #fdecd8 !important;
}

.bg-light {
    background-color: var(--light) !important;
}
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-lighter {
    background-color: var(--lighter) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-zimmer {
    background-image: url(bgs/zimmer.jpg);
}

.bg-bonomo {
    background-image: url(bgs/bonomo.jpg);
}

.bg-keller {
    background-image: url(bgs/keller.jpg);
}

.bg-krivec {
    background-image: url(bgs/krivec.jpg);
}

.bg-smith {
    background-image: url(bgs/smith.jpg);
}

.bg-splash {
    background-image: url(bgs/splash.jpg);
}

.bg-splash2 {
    background-image: url(bgs/splash2.jpg);
    background-position: center;
}

.card {
    margin: 10px;
}

.btn:hover {
    opacity: .6;
    transition: 0.5s;
    box-shadow: 0px 2px 10px 5px var(--secondary);

}

.btn:active {
    opacity: .6;
    transition: 0.5s;
    box-shadow: 0px 2px 10px 5px var(--secondary);

}

.btn-light {
    background-color: var(--light) !important;
    border: 0;
}
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--white) !important;
}

.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-light {
    color: var(--light) !important;
}
.text-white {
    color: var(--white) !important;
}

.text-muted {
    color: var(--primary) !important;
}

.carousel-caption {
    background-color: rgba(242, 242, 235, 0.7);
    color: black;
    border-radius:10%;
}

.dropdown-item {
    color: var(--white) !important;
}

.active {
    color: var(--primary) !important;
    background-color: var(--white) !important;
}

.dropdown-item:hover {
    color: var(--primary) !important;
    background-color: var(--white) !important;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Macondo Swash Caps', cursive;
}

.card-title {
    font-family: 'IM Fell English', serif;
}

h2 {
    font-family: 'IM Fell English', serif;
    font-size: 1.5rem !important;
    font-style: italic;
}

a:hover {
    opacity: .6;
    transition: 0.5s;
    text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3f9b91, 0 0 40px #3f9b91, 0 0 50px #3f9b91, 0 0 60px #3f9b91, 0 0 70px #3f9b91;
    
}